.slds-list_horizontal.slds-has-dividers > .slds-list__item {
  position: relative;
  display: flex;
  align-items: center;
}
.slds-list_horizontal.slds-has-dividers > .slds-list__item::after {
  width: 2px;
  height: 2px;
  content: '';
  margin-inline-start: var(--slds-g-spacing-2);
  margin-inline-end: var(--slds-g-spacing-2);
  border-radius: 50%;
  background-color: currentColor;
}
.slds-list_horizontal.slds-has-dividers > .slds-list__item:last-child {
  margin-inline-end: 0;
  padding-inline-end: 0;
}
.slds-list_horizontal.slds-has-dividers > .slds-list__item:last-child::after {
  content: none;
}
.slds-list_horizontal {
  display: flex;
}
.slds-list_horizontal > .slds-list__item {
  align-self: center;
}

.slds-list_horizontal-large > .slds-list__item > a,
.slds-list_horizontal-large > .slds-item > a {
  padding-block: var(--slds-g-spacing-3);
  padding-inline: var(--slds-g-spacing-4);
}
.slds-has-dividers_left > .slds-list__item,
.slds-has-dividers_left > .slds-item {
  position: relative;
  display: flex;
  align-items: center;
}
.slds-has-dividers_left > .slds-list__item::before,
.slds-has-dividers_left > .slds-item::before {
  width: 2px;
  height: 2px;
  content: '';
  display: inline-block;
  vertical-align: middle;
  margin-inline-start: var(--slds-g-spacing-2);
  margin-inline-end: var(--slds-g-spacing-2);
  border-radius: 50%;
  background-color: currentColor;
}
.slds-has-dividers_left > .slds-list__item:first-child,
.slds-has-dividers_left > .slds-item:first-child {
  margin-inline-end: 0;
  padding-inline-end: 0;
}
.slds-has-dividers_left > .slds-list__item:first-child::before,
.slds-has-dividers_left > .slds-item:first-child::before {
  content: none;
}
.slds-has-dividers_right > .slds-list__item,
.slds-has-dividers_right > .slds-item {
  position: relative;
  display: flex;
  align-items: center;
}
.slds-has-dividers_right > .slds-list__item::after,
.slds-has-dividers_right > .slds-item::after {
  width: 2px;
  height: 2px;
  content: '';
  margin-inline-start: var(--slds-g-spacing-2);
  margin-inline-end: var(--slds-g-spacing-2);
  border-radius: 50%;
  background-color: currentColor;
}
.slds-has-dividers_right > .slds-list__item:last-child,
.slds-has-dividers_right > .slds-item:last-child {
  margin-inline-end: 0;
  padding-inline-end: 0;
}
.slds-has-dividers_right > .slds-list__item:last-child::after,
.slds-has-dividers_right > .slds-item:last-child::after {
  content: none;
}
