/**
 * The truncation class can be used on an element, or the truncation include can be added to an existing class.
 */
.slds-hyphenate {
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}
