.slds-p-top_none {
  padding-block-start: 0 !important;
}

.slds-p-top_xxx-small {
  padding-block-start: calc(var(--slds-g-spacing-1) / 2);
}

.slds-p-top_xx-small {
  padding-block-start: var(--slds-g-spacing-1);
}

.slds-p-top_x-small {
  padding-block-start: var(--slds-g-spacing-2);
}

.slds-p-top_small {
  padding-block-start: var(--slds-g-spacing-3);
}

.slds-p-top_medium {
  padding-block-start: var(--slds-g-spacing-4);
}

.slds-p-top_large {
  padding-block-start: var(--slds-g-spacing-5);
}

.slds-p-top_x-large {
  padding-block-start: var(--slds-g-spacing-6);
}

.slds-p-top_xx-large {
  padding-block-start: var(--slds-g-spacing-8);
}

.slds-var-p-top_xxx-small {
  padding-block-start: calc(var(--slds-g-spacing-var-block-1) / 2);
}

.slds-var-p-top_xx-small {
  padding-block-start: var(--slds-g-spacing-var-block-1);
}

.slds-var-p-top_x-small {
  padding-block-start: var(--slds-g-spacing-var-block-2);
}

.slds-var-p-top_small {
  padding-block-start: var(--slds-g-spacing-var-block-3);
}

.slds-var-p-top_medium {
  padding-block-start: var(--slds-g-spacing-var-block-4);
}

.slds-var-p-top_large {
  padding-block-start: var(--slds-g-spacing-var-block-5);
}

.slds-var-p-top_x-large {
  padding-block-start: var(--slds-g-spacing-var-block-6);
}

.slds-var-p-top_xx-large {
  padding-block-start: var(--slds-g-spacing-var-block-8);
}

.slds-p-right_none {
  padding-inline-end: 0 !important;
}

.slds-p-right_xxx-small {
  padding-inline-end: calc(var(--slds-g-spacing-1) / 2);
}

.slds-p-right_xx-small {
  padding-inline-end: var(--slds-g-spacing-1);
}

.slds-p-right_x-small {
  padding-inline-end: var(--slds-g-spacing-2);
}

.slds-p-right_small {
  padding-inline-end: var(--slds-g-spacing-3);
}

.slds-p-right_medium {
  padding-inline-end: var(--slds-g-spacing-4);
}

.slds-p-right_large {
  padding-inline-end: var(--slds-g-spacing-5);
}

.slds-p-right_x-large {
  padding-inline-end: var(--slds-g-spacing-6);
}

.slds-p-right_xx-large {
  padding-inline-end: var(--slds-g-spacing-8);
}

.slds-var-p-right_xxx-small {
  padding-inline-end: calc(var(--slds-g-spacing-var-inline-1) / 2);
}

.slds-var-p-right_xx-small {
  padding-inline-end: var(--slds-g-spacing-var-inline-1);
}

.slds-var-p-right_x-small {
  padding-inline-end: var(--slds-g-spacing-var-inline-2);
}

.slds-var-p-right_small {
  padding-inline-end: var(--slds-g-spacing-var-inline-3);
}

.slds-var-p-right_medium {
  padding-inline-end: var(--slds-g-spacing-var-inline-4);
}

.slds-var-p-right_large {
  padding-inline-end: var(--slds-g-spacing-var-inline-5);
}

.slds-var-p-right_x-large {
  padding-inline-end: var(--slds-g-spacing-var-inline-6);
}

.slds-var-p-right_xx-large {
  padding-inline-end: var(--slds-g-spacing-var-inline-8);
}

.slds-p-bottom_none {
  padding-block-end: 0 !important;
}

.slds-p-bottom_xxx-small {
  padding-block-end: calc(var(--slds-g-spacing-1) / 2);
}

.slds-p-bottom_xx-small {
  padding-block-end: var(--slds-g-spacing-1);
}

.slds-p-bottom_x-small {
  padding-block-end: var(--slds-g-spacing-2);
}

.slds-p-bottom_small {
  padding-block-end: var(--slds-g-spacing-3);
}

.slds-p-bottom_medium {
  padding-block-end: var(--slds-g-spacing-4);
}

.slds-p-bottom_large {
  padding-block-end: var(--slds-g-spacing-5);
}

.slds-p-bottom_x-large {
  padding-block-end: var(--slds-g-spacing-6);
}

.slds-p-bottom_xx-large {
  padding-block-end: var(--slds-g-spacing-8);
}

.slds-var-p-bottom_xxx-small {
  padding-block-end: calc(var(--slds-g-spacing-var-block-1) / 2);
}

.slds-var-p-bottom_xx-small {
  padding-block-end: var(--slds-g-spacing-var-block-1);
}

.slds-var-p-bottom_x-small {
  padding-block-end: var(--slds-g-spacing-var-block-2);
}

.slds-var-p-bottom_small {
  padding-block-end: var(--slds-g-spacing-var-block-3);
}

.slds-var-p-bottom_medium {
  padding-block-end: var(--slds-g-spacing-var-block-4);
}

.slds-var-p-bottom_large {
  padding-block-end: var(--slds-g-spacing-var-block-5);
}

.slds-var-p-bottom_x-large {
  padding-block-end: var(--slds-g-spacing-var-block-6);
}

.slds-var-p-bottom_xx-large {
  padding-block-end: var(--slds-g-spacing-var-block-8);
}

.slds-p-left_none {
  padding-inline-start: 0 !important;
}

.slds-p-left_xxx-small {
  padding-inline-start: calc(var(--slds-g-spacing-1) / 2);
}

.slds-p-left_xx-small {
  padding-inline-start: var(--slds-g-spacing-1);
}

.slds-p-left_x-small {
  padding-inline-start: var(--slds-g-spacing-2);
}

.slds-p-left_small {
  padding-inline-start: var(--slds-g-spacing-3);
}

.slds-p-left_medium {
  padding-inline-start: var(--slds-g-spacing-4);
}

.slds-p-left_large {
  padding-inline-start: var(--slds-g-spacing-5);
}

.slds-p-left_x-large {
  padding-inline-start: var(--slds-g-spacing-6);
}

.slds-p-left_xx-large {
  padding-inline-start: var(--slds-g-spacing-8);
}

.slds-var-p-left_xxx-small {
  padding-inline-start: calc(var(--slds-g-spacing-var-inline-1) / 2);
}

.slds-var-p-left_xx-small {
  padding-inline-start: var(--slds-g-spacing-var-inline-1);
}

.slds-var-p-left_x-small {
  padding-inline-start: var(--slds-g-spacing-var-inline-2);
}

.slds-var-p-left_small {
  padding-inline-start: var(--slds-g-spacing-var-inline-3);
}

.slds-var-p-left_medium {
  padding-inline-start: var(--slds-g-spacing-var-inline-4);
}

.slds-var-p-left_large {
  padding-inline-start: var(--slds-g-spacing-var-inline-5);
}

.slds-var-p-left_x-large {
  padding-inline-start: var(--slds-g-spacing-var-inline-6);
}

.slds-var-p-left_xx-large {
  padding-inline-start: var(--slds-g-spacing-var-inline-8);
}

.slds-p-horizontal_none {
  padding-inline-start: 0 !important;
  padding-inline-end: 0 !important;
}

.slds-p-horizontal_xxx-small {
  padding-inline-start: calc(var(--slds-g-spacing-1) / 2);
  padding-inline-end: calc(var(--slds-g-spacing-1) / 2);
}

.slds-p-horizontal_xx-small {
  padding-inline-start: var(--slds-g-spacing-1);
  padding-inline-end: var(--slds-g-spacing-1);
}

.slds-p-horizontal_x-small {
  padding-inline-start: var(--slds-g-spacing-2);
  padding-inline-end: var(--slds-g-spacing-2);
}

.slds-p-horizontal_small {
  padding-inline-start: var(--slds-g-spacing-3);
  padding-inline-end: var(--slds-g-spacing-3);
}

.slds-p-horizontal_medium {
  padding-inline-start: var(--slds-g-spacing-4);
  padding-inline-end: var(--slds-g-spacing-4);
}

.slds-p-horizontal_large {
  padding-inline-start: var(--slds-g-spacing-5);
  padding-inline-end: var(--slds-g-spacing-5);
}

.slds-p-horizontal_x-large {
  padding-inline-start: var(--slds-g-spacing-6);
  padding-inline-end: var(--slds-g-spacing-6);
}

.slds-p-horizontal_xx-large {
  padding-inline-start: var(--slds-g-spacing-8);
  padding-inline-end: var(--slds-g-spacing-8);
}

.slds-var-p-horizontal_xxx-small {
  padding-inline-start: calc(var(--slds-g-spacing-var-inline-1) / 2);
  padding-inline-end: calc(var(--slds-g-spacing-var-inline-1) / 2);
}

.slds-var-p-horizontal_xx-small {
  padding-inline-start: var(--slds-g-spacing-var-inline-1);
  padding-inline-end: var(--slds-g-spacing-var-inline-1);
}

.slds-var-p-horizontal_x-small {
  padding-inline-start: var(--slds-g-spacing-var-inline-2);
  padding-inline-end: var(--slds-g-spacing-var-inline-2);
}

.slds-var-p-horizontal_small {
  padding-inline-start: var(--slds-g-spacing-var-inline-3);
  padding-inline-end: var(--slds-g-spacing-var-inline-3);
}

.slds-var-p-horizontal_medium {
  padding-inline-start: var(--slds-g-spacing-var-inline-4);
  padding-inline-end: var(--slds-g-spacing-var-inline-4);
}

.slds-var-p-horizontal_large {
  padding-inline-start: var(--slds-g-spacing-var-inline-5);
  padding-inline-end: var(--slds-g-spacing-var-inline-5);
}

.slds-var-p-horizontal_x-large {
  padding-inline-start: var(--slds-g-spacing-var-inline-6);
  padding-inline-end: var(--slds-g-spacing-var-inline-6);
}

.slds-var-p-horizontal_xx-large {
  padding-inline-start: var(--slds-g-spacing-var-inline-8);
  padding-inline-end: var(--slds-g-spacing-var-inline-8);
}

.slds-p-vertical_none {
  padding-block-start: 0 !important;
  padding-block-end: 0 !important;
}

.slds-p-vertical_xxx-small {
  padding-block-start: calc(var(--slds-g-spacing-1) / 2);
  padding-block-end: calc(var(--slds-g-spacing-1) / 2);
}

.slds-p-vertical_xx-small {
  padding-block-start: var(--slds-g-spacing-1);
  padding-block-end: var(--slds-g-spacing-1);
}

.slds-p-vertical_x-small {
  padding-block-start: var(--slds-g-spacing-2);
  padding-block-end: var(--slds-g-spacing-2);
}

.slds-p-vertical_small {
  padding-block-start: var(--slds-g-spacing-3);
  padding-block-end: var(--slds-g-spacing-3);
}

.slds-p-vertical_medium {
  padding-block-start: var(--slds-g-spacing-4);
  padding-block-end: var(--slds-g-spacing-4);
}

.slds-p-vertical_large {
  padding-block-start: var(--slds-g-spacing-5);
  padding-block-end: var(--slds-g-spacing-5);
}

.slds-p-vertical_x-large {
  padding-block-start: var(--slds-g-spacing-6);
  padding-block-end: var(--slds-g-spacing-6);
}

.slds-p-vertical_xx-large {
  padding-block-start: var(--slds-g-spacing-8);
  padding-block-end: var(--slds-g-spacing-8);
}

.slds-var-p-vertical_xxx-small {
  padding-block-start: calc(var(--slds-g-spacing-var-block-1) / 2);
  padding-block-end: calc(var(--slds-g-spacing-var-block-1) / 2);
}

.slds-var-p-vertical_xx-small {
  padding-block-start: var(--slds-g-spacing-var-block-1);
  padding-block-end: var(--slds-g-spacing-var-block-1);
}

.slds-var-p-vertical_x-small {
  padding-block-start: var(--slds-g-spacing-var-block-2);
  padding-block-end: var(--slds-g-spacing-var-block-2);
}

.slds-var-p-vertical_small {
  padding-block-start: var(--slds-g-spacing-var-block-3);
  padding-block-end: var(--slds-g-spacing-var-block-3);
}

.slds-var-p-vertical_medium {
  padding-block-start: var(--slds-g-spacing-var-block-4);
  padding-block-end: var(--slds-g-spacing-var-block-4);
}

.slds-var-p-vertical_large {
  padding-block-start: var(--slds-g-spacing-var-block-5);
  padding-block-end: var(--slds-g-spacing-var-block-5);
}

.slds-var-p-vertical_x-large {
  padding-block-start: var(--slds-g-spacing-var-block-6);
  padding-block-end: var(--slds-g-spacing-var-block-6);
}

.slds-var-p-vertical_xx-large {
  padding-block-start: var(--slds-g-spacing-var-block-8);
  padding-block-end: var(--slds-g-spacing-var-block-8);
}

.slds-p-around_none {
  padding: 0 !important;
}

.slds-p-around_xxx-small {
  padding: calc(var(--slds-g-spacing-1) / 2);
}

.slds-p-around_xx-small {
  padding: var(--slds-g-spacing-1);
}

.slds-p-around_x-small {
  padding: var(--slds-g-spacing-2);
}

.slds-p-around_small {
  padding: var(--slds-g-spacing-3);
}

.slds-p-around_medium {
  padding: var(--slds-g-spacing-4);
}

.slds-p-around_large {
  padding: var(--slds-g-spacing-5);
}

.slds-p-around_x-large {
  padding: var(--slds-g-spacing-6);
}

.slds-p-around_xx-large {
  padding: var(--slds-g-spacing-8);
}

.slds-var-p-around_xxx-small {
  padding: calc(var(--slds-g-spacing-var-1) / 2);
}

.slds-var-p-around_xx-small {
  padding: var(--slds-g-spacing-var-1);
}

.slds-var-p-around_x-small {
  padding: var(--slds-g-spacing-var-2);
}

.slds-var-p-around_small {
  padding: var(--slds-g-spacing-var-3);
}

.slds-var-p-around_medium {
  padding: var(--slds-g-spacing-var-4);
}

.slds-var-p-around_large {
  padding: var(--slds-g-spacing-var-5);
}

.slds-var-p-around_x-large {
  padding: var(--slds-g-spacing-var-6);
}

.slds-var-p-around_xx-large {
  padding: var(--slds-g-spacing-var-8);
}
.slds-has-cushion {
  padding: var(--slds-g-spacing-4);
}
