.slds-size_xxx-small {
  width: 3rem;
}

.slds-size_xx-small {
  width: 6rem;
}

.slds-size_x-small {
  width: 12rem;
}

.slds-size_small {
  width: 15rem;
}

.slds-size_medium {
  width: 20rem;
}

.slds-size_large {
  width: 25rem;
}

.slds-size_x-large {
  width: 40rem;
}

.slds-size_xx-large {
  width: 60rem;
}
.slds-size_full {
  width: 100%;
}

.slds-size_1-of-1 {
  width: 100%;
}

.slds-size_1-of-2 {
  width: 50%;
}

.slds-size_2-of-2 {
  width: 100%;
}

.slds-size_1-of-3 {
  width: 33.333%;
}

.slds-size_2-of-3 {
  width: 66.6667%;
}

.slds-size_3-of-3 {
  width: 100%;
}

.slds-size_1-of-4 {
  width: 25%;
}

.slds-size_2-of-4 {
  width: 50%;
}

.slds-size_3-of-4 {
  width: 75%;
}

.slds-size_4-of-4 {
  width: 100%;
}

.slds-size_1-of-5 {
  width: 20%;
}

.slds-size_2-of-5 {
  width: 40%;
}

.slds-size_3-of-5 {
  width: 60%;
}

.slds-size_4-of-5 {
  width: 80%;
}

.slds-size_5-of-5 {
  width: 100%;
}

.slds-size_1-of-6 {
  width: 16.6667%;
}

.slds-size_2-of-6 {
  width: 33.333%;
}

.slds-size_3-of-6 {
  width: 50%;
}

.slds-size_4-of-6 {
  width: 66.6667%;
}

.slds-size_5-of-6 {
  width: 83.3333%;
}

.slds-size_6-of-6 {
  width: 100%;
}

.slds-size_1-of-7 {
  width: 14.2857%;
}

.slds-size_2-of-7 {
  width: 28.5714%;
}

.slds-size_3-of-7 {
  width: 42.8571%;
}

.slds-size_4-of-7 {
  width: 57.1429%;
}

.slds-size_5-of-7 {
  width: 71.4286%;
}

.slds-size_6-of-7 {
  width: 85.7143%;
}

.slds-size_7-of-7 {
  width: 100%;
}

.slds-size_1-of-8 {
  width: 12.5%;
}

.slds-size_2-of-8 {
  width: 25%;
}

.slds-size_3-of-8 {
  width: 37.5%;
}

.slds-size_4-of-8 {
  width: 50%;
}

.slds-size_5-of-8 {
  width: 62.5%;
}

.slds-size_6-of-8 {
  width: 75%;
}

.slds-size_7-of-8 {
  width: 87.5%;
}

.slds-size_8-of-8 {
  width: 100%;
}

.slds-size_1-of-12 {
  width: 8.3333%;
}

.slds-size_2-of-12 {
  width: 16.6667%;
}

.slds-size_3-of-12 {
  width: 25%;
}

.slds-size_4-of-12 {
  width: 33.333%;
}

.slds-size_5-of-12 {
  width: 41.6667%;
}

.slds-size_6-of-12 {
  width: 50%;
}

.slds-size_7-of-12 {
  width: 58.3333%;
}

.slds-size_8-of-12 {
  width: 66.6667%;
}

.slds-size_9-of-12 {
  width: 75%;
}

.slds-size_10-of-12 {
  width: 83.3333%;
}

.slds-size_11-of-12 {
  width: 91.6667%;
}

.slds-size_12-of-12 {
  width: 100%;
}

.slds-order_1 {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}

.slds-order_2 {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
}

.slds-order_3 {
  -webkit-box-ordinal-group: 4;
  -ms-flex-order: 3;
  order: 3;
}

.slds-order_4 {
  -webkit-box-ordinal-group: 5;
  -ms-flex-order: 4;
  order: 4;
}

.slds-order_5 {
  -webkit-box-ordinal-group: 6;
  -ms-flex-order: 5;
  order: 5;
}

.slds-order_6 {
  -webkit-box-ordinal-group: 7;
  -ms-flex-order: 6;
  order: 6;
}

.slds-order_7 {
  -webkit-box-ordinal-group: 8;
  -ms-flex-order: 7;
  order: 7;
}

.slds-order_8 {
  -webkit-box-ordinal-group: 9;
  -ms-flex-order: 8;
  order: 8;
}

.slds-order_9 {
  -webkit-box-ordinal-group: 10;
  -ms-flex-order: 9;
  order: 9;
}

.slds-order_10 {
  -webkit-box-ordinal-group: 11;
  -ms-flex-order: 10;
  order: 10;
}

.slds-order_11 {
  -webkit-box-ordinal-group: 12;
  -ms-flex-order: 11;
  order: 11;
}

.slds-order_12 {
  -webkit-box-ordinal-group: 13;
  -ms-flex-order: 12;
  order: 12;
}

@media (min-width: 20em) {
  .slds-x-small-size_xxx-small,
  .slds-x-small-size_xx-small,
  .slds-x-small-size_x-small,
  .slds-x-small-size_small,
  .slds-x-small-size_medium,
  .slds-x-small-size_large,
  .slds-x-small-size_x-large,
  .slds-x-small-size_xx-large,
  .slds-x-small-size_1-of-1,
  .slds-x-small-size_1-of-2,
  .slds-x-small-size_2-of-2,
  .slds-x-small-size_1-of-3,
  .slds-x-small-size_2-of-3,
  .slds-x-small-size_3-of-3,
  .slds-x-small-size_1-of-4,
  .slds-x-small-size_2-of-4,
  .slds-x-small-size_3-of-4,
  .slds-x-small-size_4-of-4,
  .slds-x-small-size_1-of-5,
  .slds-x-small-size_2-of-5,
  .slds-x-small-size_3-of-5,
  .slds-x-small-size_4-of-5,
  .slds-x-small-size_5-of-5,
  .slds-x-small-size_1-of-6,
  .slds-x-small-size_2-of-6,
  .slds-x-small-size_3-of-6,
  .slds-x-small-size_4-of-6,
  .slds-x-small-size_5-of-6,
  .slds-x-small-size_6-of-6,
  .slds-x-small-size_1-of-7,
  .slds-x-small-size_2-of-7,
  .slds-x-small-size_3-of-7,
  .slds-x-small-size_4-of-7,
  .slds-x-small-size_5-of-7,
  .slds-x-small-size_6-of-7,
  .slds-x-small-size_7-of-7,
  .slds-x-small-size_1-of-8,
  .slds-x-small-size_2-of-8,
  .slds-x-small-size_3-of-8,
  .slds-x-small-size_4-of-8,
  .slds-x-small-size_5-of-8,
  .slds-x-small-size_6-of-8,
  .slds-x-small-size_7-of-8,
  .slds-x-small-size_8-of-8,
  .slds-x-small-size_1-of-12,
  .slds-x-small-size_2-of-12,
  .slds-x-small-size_3-of-12,
  .slds-x-small-size_4-of-12,
  .slds-x-small-size_5-of-12,
  .slds-x-small-size_6-of-12,
  .slds-x-small-size_7-of-12,
  .slds-x-small-size_8-of-12,
  .slds-x-small-size_9-of-12,
  .slds-x-small-size_10-of-12,
  .slds-x-small-size_11-of-12,
  .slds-x-small-size_12-of-12 {
    flex: none;
  }

  .slds-x-small-size_xxx-small {
    width: 3rem;
  }

  .slds-x-small-size_xx-small {
    width: 6rem;
  }

  .slds-x-small-size_x-small {
    width: 12rem;
  }

  .slds-x-small-size_small {
    width: 15rem;
  }

  .slds-x-small-size_medium {
    width: 20rem;
  }

  .slds-x-small-size_large {
    width: 25rem;
  }

  .slds-x-small-size_x-large {
    width: 40rem;
  }

  .slds-x-small-size_xx-large {
    width: 60rem;
  }

  .slds-x-small-size_1-of-1 {
    width: 100%;
  }

  .slds-x-small-size_1-of-2 {
    width: 50%;
  }

  .slds-x-small-size_2-of-2 {
    width: 100%;
  }

  .slds-x-small-size_1-of-3 {
    width: 33.333%;
  }

  .slds-x-small-size_2-of-3 {
    width: 66.6667%;
  }

  .slds-x-small-size_3-of-3 {
    width: 100%;
  }

  .slds-x-small-size_1-of-4 {
    width: 25%;
  }

  .slds-x-small-size_2-of-4 {
    width: 50%;
  }

  .slds-x-small-size_3-of-4 {
    width: 75%;
  }

  .slds-x-small-size_4-of-4 {
    width: 100%;
  }

  .slds-x-small-size_1-of-5 {
    width: 20%;
  }

  .slds-x-small-size_2-of-5 {
    width: 40%;
  }

  .slds-x-small-size_3-of-5 {
    width: 60%;
  }

  .slds-x-small-size_4-of-5 {
    width: 80%;
  }

  .slds-x-small-size_5-of-5 {
    width: 100%;
  }

  .slds-x-small-size_1-of-6 {
    width: 16.6667%;
  }

  .slds-x-small-size_2-of-6 {
    width: 33.333%;
  }

  .slds-x-small-size_3-of-6 {
    width: 50%;
  }

  .slds-x-small-size_4-of-6 {
    width: 66.6667%;
  }

  .slds-x-small-size_5-of-6 {
    width: 83.3333%;
  }

  .slds-x-small-size_6-of-6 {
    width: 100%;
  }

  .slds-x-small-size_1-of-7 {
    width: 14.2857%;
  }

  .slds-x-small-size_2-of-7 {
    width: 28.5714%;
  }

  .slds-x-small-size_3-of-7 {
    width: 42.8571%;
  }

  .slds-x-small-size_4-of-7 {
    width: 57.1429%;
  }

  .slds-x-small-size_5-of-7 {
    width: 71.4286%;
  }

  .slds-x-small-size_6-of-7 {
    width: 85.7143%;
  }

  .slds-x-small-size_7-of-7 {
    width: 100%;
  }

  .slds-x-small-size_1-of-8 {
    width: 12.5%;
  }

  .slds-x-small-size_2-of-8 {
    width: 25%;
  }

  .slds-x-small-size_3-of-8 {
    width: 37.5%;
  }

  .slds-x-small-size_4-of-8 {
    width: 50%;
  }

  .slds-x-small-size_5-of-8 {
    width: 62.5%;
  }

  .slds-x-small-size_6-of-8 {
    width: 75%;
  }

  .slds-x-small-size_7-of-8 {
    width: 87.5%;
  }

  .slds-x-small-size_8-of-8 {
    width: 100%;
  }

  .slds-x-small-size_1-of-12 {
    width: 8.3333%;
  }

  .slds-x-small-size_2-of-12 {
    width: 16.6667%;
  }

  .slds-x-small-size_3-of-12 {
    width: 25%;
  }

  .slds-x-small-size_4-of-12 {
    width: 33.333%;
  }

  .slds-x-small-size_5-of-12 {
    width: 41.6667%;
  }

  .slds-x-small-size_6-of-12 {
    width: 50%;
  }

  .slds-x-small-size_7-of-12 {
    width: 58.3333%;
  }

  .slds-x-small-size_8-of-12 {
    width: 66.6667%;
  }

  .slds-x-small-size_9-of-12 {
    width: 75%;
  }

  .slds-x-small-size_10-of-12 {
    width: 83.3333%;
  }

  .slds-x-small-size_11-of-12 {
    width: 91.6667%;
  }

  .slds-x-small-size_12-of-12 {
    width: 100%;
  }

  .slds-x-small-order_1 {
    order: 1;
  }

  .slds-x-small-order_2 {
    order: 2;
  }

  .slds-x-small-order_3 {
    order: 3;
  }

  .slds-x-small-order_4 {
    order: 4;
  }

  .slds-x-small-order_5 {
    order: 5;
  }

  .slds-x-small-order_6 {
    order: 6;
  }

  .slds-x-small-order_7 {
    order: 7;
  }

  .slds-x-small-order_8 {
    order: 8;
  }

  .slds-x-small-order_9 {
    order: 9;
  }

  .slds-x-small-order_10 {
    order: 10;
  }

  .slds-x-small-order_11 {
    order: 11;
  }

  .slds-x-small-order_12 {
    order: 12;
  }
}
@media (max-width: 20em) {
  .slds-max-x-small-size_xxx-small,
  .slds-max-x-small-size_xx-small,
  .slds-max-x-small-size_x-small,
  .slds-max-x-small-size_small,
  .slds-max-x-small-size_medium,
  .slds-max-x-small-size_large,
  .slds-max-x-small-size_x-large,
  .slds-max-x-small-size_xx-large {
    flex: none;
  }

  .slds-max-x-small-size_xxx-small {
    width: 3rem;
  }

  .slds-max-x-small-size_xx-small {
    width: 6rem;
  }

  .slds-max-x-small-size_x-small {
    width: 12rem;
  }

  .slds-max-x-small-size_small {
    width: 15rem;
  }

  .slds-max-x-small-size_medium {
    width: 20rem;
  }

  .slds-max-x-small-size_large {
    width: 25rem;
  }

  .slds-max-x-small-size_x-large {
    width: 40rem;
  }

  .slds-max-x-small-size_xx-large {
    width: 60rem;
  }

  .slds-max-x-small-size_1-of-1 {
    width: 100%;
  }

  .slds-max-x-small-size_1-of-2 {
    width: 50%;
  }

  .slds-max-x-small-size_2-of-2 {
    width: 100%;
  }

  .slds-max-x-small-size_1-of-3 {
    width: 33.333%;
  }

  .slds-max-x-small-size_2-of-3 {
    width: 66.6667%;
  }

  .slds-max-x-small-size_3-of-3 {
    width: 100%;
  }

  .slds-max-x-small-size_1-of-4 {
    width: 25%;
  }

  .slds-max-x-small-size_2-of-4 {
    width: 50%;
  }

  .slds-max-x-small-size_3-of-4 {
    width: 75%;
  }

  .slds-max-x-small-size_4-of-4 {
    width: 100%;
  }

  .slds-max-x-small-size_1-of-5 {
    width: 20%;
  }

  .slds-max-x-small-size_2-of-5 {
    width: 40%;
  }

  .slds-max-x-small-size_3-of-5 {
    width: 60%;
  }

  .slds-max-x-small-size_4-of-5 {
    width: 80%;
  }

  .slds-max-x-small-size_5-of-5 {
    width: 100%;
  }

  .slds-max-x-small-size_1-of-6 {
    width: 16.6667%;
  }

  .slds-max-x-small-size_2-of-6 {
    width: 33.333%;
  }

  .slds-max-x-small-size_3-of-6 {
    width: 50%;
  }

  .slds-max-x-small-size_4-of-6 {
    width: 66.6667%;
  }

  .slds-max-x-small-size_5-of-6 {
    width: 83.3333%;
  }

  .slds-max-x-small-size_6-of-6 {
    width: 100%;
  }

  .slds-max-x-small-size_1-of-7 {
    width: 14.2857%;
  }

  .slds-max-x-small-size_2-of-7 {
    width: 28.5714%;
  }

  .slds-max-x-small-size_3-of-7 {
    width: 42.8571%;
  }

  .slds-max-x-small-size_4-of-7 {
    width: 57.1429%;
  }

  .slds-max-x-small-size_5-of-7 {
    width: 71.4286%;
  }

  .slds-max-x-small-size_6-of-7 {
    width: 85.7143%;
  }

  .slds-max-x-small-size_7-of-7 {
    width: 100%;
  }

  .slds-max-x-small-size_1-of-8 {
    width: 12.5%;
  }

  .slds-max-x-small-size_2-of-8 {
    width: 25%;
  }

  .slds-max-x-small-size_3-of-8 {
    width: 37.5%;
  }

  .slds-max-x-small-size_4-of-8 {
    width: 50%;
  }

  .slds-max-x-small-size_5-of-8 {
    width: 62.5%;
  }

  .slds-max-x-small-size_6-of-8 {
    width: 75%;
  }

  .slds-max-x-small-size_7-of-8 {
    width: 87.5%;
  }

  .slds-max-x-small-size_8-of-8 {
    width: 100%;
  }

  .slds-max-x-small-size_1-of-12 {
    width: 8.3333%;
  }

  .slds-max-x-small-size_2-of-12 {
    width: 16.6667%;
  }

  .slds-max-x-small-size_3-of-12 {
    width: 25%;
  }

  .slds-max-x-small-size_4-of-12 {
    width: 33.333%;
  }

  .slds-max-x-small-size_5-of-12 {
    width: 41.6667%;
  }

  .slds-max-x-small-size_6-of-12 {
    width: 50%;
  }

  .slds-max-x-small-size_7-of-12 {
    width: 58.3333%;
  }

  .slds-max-x-small-size_8-of-12 {
    width: 66.6667%;
  }

  .slds-max-x-small-size_9-of-12 {
    width: 75%;
  }

  .slds-max-x-small-size_10-of-12 {
    width: 83.3333%;
  }

  .slds-max-x-small-size_11-of-12 {
    width: 91.6667%;
  }

  .slds-max-x-small-size_12-of-12 {
    width: 100%;
  }

  .slds-max-x-small-order_1 {
    order: 1;
  }

  .slds-max-x-small-order_2 {
    order: 2;
  }

  .slds-max-x-small-order_3 {
    order: 3;
  }

  .slds-max-x-small-order_4 {
    order: 4;
  }

  .slds-max-x-small-order_5 {
    order: 5;
  }

  .slds-max-x-small-order_6 {
    order: 6;
  }

  .slds-max-x-small-order_7 {
    order: 7;
  }

  .slds-max-x-small-order_8 {
    order: 8;
  }

  .slds-max-x-small-order_9 {
    order: 9;
  }

  .slds-max-x-small-order_10 {
    order: 10;
  }

  .slds-max-x-small-order_11 {
    order: 11;
  }

  .slds-max-x-small-order_12 {
    order: 12;
  }
}
@media (min-width: 30em) {
  .slds-small-size_xxx-small,
  .slds-small-size_xx-small,
  .slds-small-size_x-small,
  .slds-small-size_small,
  .slds-small-size_medium,
  .slds-small-size_large,
  .slds-small-size_x-large,
  .slds-small-size_xx-large,
  .slds-small-size_1-of-1,
  .slds-small-size_1-of-2,
  .slds-small-size_2-of-2,
  .slds-small-size_1-of-3,
  .slds-small-size_2-of-3,
  .slds-small-size_3-of-3,
  .slds-small-size_1-of-4,
  .slds-small-size_2-of-4,
  .slds-small-size_3-of-4,
  .slds-small-size_4-of-4,
  .slds-small-size_1-of-5,
  .slds-small-size_2-of-5,
  .slds-small-size_3-of-5,
  .slds-small-size_4-of-5,
  .slds-small-size_5-of-5,
  .slds-small-size_1-of-6,
  .slds-small-size_2-of-6,
  .slds-small-size_3-of-6,
  .slds-small-size_4-of-6,
  .slds-small-size_5-of-6,
  .slds-small-size_6-of-6,
  .slds-small-size_1-of-7,
  .slds-small-size_2-of-7,
  .slds-small-size_3-of-7,
  .slds-small-size_4-of-7,
  .slds-small-size_5-of-7,
  .slds-small-size_6-of-7,
  .slds-small-size_7-of-7,
  .slds-small-size_1-of-8,
  .slds-small-size_2-of-8,
  .slds-small-size_3-of-8,
  .slds-small-size_4-of-8,
  .slds-small-size_5-of-8,
  .slds-small-size_6-of-8,
  .slds-small-size_7-of-8,
  .slds-small-size_8-of-8,
  .slds-small-size_1-of-12,
  .slds-small-size_2-of-12,
  .slds-small-size_3-of-12,
  .slds-small-size_4-of-12,
  .slds-small-size_5-of-12,
  .slds-small-size_6-of-12,
  .slds-small-size_7-of-12,
  .slds-small-size_8-of-12,
  .slds-small-size_9-of-12,
  .slds-small-size_10-of-12,
  .slds-small-size_11-of-12,
  .slds-small-size_12-of-12 {
    flex: none;
  }

  .slds-small-size_xxx-small {
    width: 3rem;
  }

  .slds-small-size_xx-small {
    width: 6rem;
  }

  .slds-small-size_x-small {
    width: 12rem;
  }

  .slds-small-size_small {
    width: 15rem;
  }

  .slds-small-size_medium {
    width: 20rem;
  }

  .slds-small-size_large {
    width: 25rem;
  }

  .slds-small-size_x-large {
    width: 40rem;
  }

  .slds-small-size_xx-large {
    width: 60rem;
  }

  .slds-small-size_1-of-1 {
    width: 100%;
  }

  .slds-small-size_1-of-2 {
    width: 50%;
  }

  .slds-small-size_2-of-2 {
    width: 100%;
  }

  .slds-small-size_1-of-3 {
    width: 33.333%;
  }

  .slds-small-size_2-of-3 {
    width: 66.6667%;
  }

  .slds-small-size_3-of-3 {
    width: 100%;
  }

  .slds-small-size_1-of-4 {
    width: 25%;
  }

  .slds-small-size_2-of-4 {
    width: 50%;
  }

  .slds-small-size_3-of-4 {
    width: 75%;
  }

  .slds-small-size_4-of-4 {
    width: 100%;
  }

  .slds-small-size_1-of-5 {
    width: 20%;
  }

  .slds-small-size_2-of-5 {
    width: 40%;
  }

  .slds-small-size_3-of-5 {
    width: 60%;
  }

  .slds-small-size_4-of-5 {
    width: 80%;
  }

  .slds-small-size_5-of-5 {
    width: 100%;
  }

  .slds-small-size_1-of-6 {
    width: 16.6667%;
  }

  .slds-small-size_2-of-6 {
    width: 33.333%;
  }

  .slds-small-size_3-of-6 {
    width: 50%;
  }

  .slds-small-size_4-of-6 {
    width: 66.6667%;
  }

  .slds-small-size_5-of-6 {
    width: 83.3333%;
  }

  .slds-small-size_6-of-6 {
    width: 100%;
  }

  .slds-small-size_1-of-7 {
    width: 14.2857%;
  }

  .slds-small-size_2-of-7 {
    width: 28.5714%;
  }

  .slds-small-size_3-of-7 {
    width: 42.8571%;
  }

  .slds-small-size_4-of-7 {
    width: 57.1429%;
  }

  .slds-small-size_5-of-7 {
    width: 71.4286%;
  }

  .slds-small-size_6-of-7 {
    width: 85.7143%;
  }

  .slds-small-size_7-of-7 {
    width: 100%;
  }

  .slds-small-size_1-of-8 {
    width: 12.5%;
  }

  .slds-small-size_2-of-8 {
    width: 25%;
  }

  .slds-small-size_3-of-8 {
    width: 37.5%;
  }

  .slds-small-size_4-of-8 {
    width: 50%;
  }

  .slds-small-size_5-of-8 {
    width: 62.5%;
  }

  .slds-small-size_6-of-8 {
    width: 75%;
  }

  .slds-small-size_7-of-8 {
    width: 87.5%;
  }

  .slds-small-size_8-of-8 {
    width: 100%;
  }

  .slds-small-size_1-of-12 {
    width: 8.3333%;
  }

  .slds-small-size_2-of-12 {
    width: 16.6667%;
  }

  .slds-small-size_3-of-12 {
    width: 25%;
  }

  .slds-small-size_4-of-12 {
    width: 33.333%;
  }

  .slds-small-size_5-of-12 {
    width: 41.6667%;
  }

  .slds-small-size_6-of-12 {
    width: 50%;
  }

  .slds-small-size_7-of-12 {
    width: 58.3333%;
  }

  .slds-small-size_8-of-12 {
    width: 66.6667%;
  }

  .slds-small-size_9-of-12 {
    width: 75%;
  }

  .slds-small-size_10-of-12 {
    width: 83.3333%;
  }

  .slds-small-size_11-of-12 {
    width: 91.6667%;
  }

  .slds-small-size_12-of-12 {
    width: 100%;
  }

  .slds-small-order_1 {
    order: 1;
  }

  .slds-small-order_2 {
    order: 2;
  }

  .slds-small-order_3 {
    order: 3;
  }

  .slds-small-order_4 {
    order: 4;
  }

  .slds-small-order_5 {
    order: 5;
  }

  .slds-small-order_6 {
    order: 6;
  }

  .slds-small-order_7 {
    order: 7;
  }

  .slds-small-order_8 {
    order: 8;
  }

  .slds-small-order_9 {
    order: 9;
  }

  .slds-small-order_10 {
    order: 10;
  }

  .slds-small-order_11 {
    order: 11;
  }

  .slds-small-order_12 {
    order: 12;
  }
}
@media (max-width: 30em) {
  .slds-max-small-size_xxx-small,
  .slds-max-small-size_xx-small,
  .slds-max-small-size_x-small,
  .slds-max-small-size_small,
  .slds-max-small-size_medium,
  .slds-max-small-size_large,
  .slds-max-small-size_x-large,
  .slds-max-small-size_xx-large {
    flex: none;
  }

  .slds-max-small-size_xxx-small {
    width: 3rem;
  }

  .slds-max-small-size_xx-small {
    width: 6rem;
  }

  .slds-max-small-size_x-small {
    width: 12rem;
  }

  .slds-max-small-size_small {
    width: 15rem;
  }

  .slds-max-small-size_medium {
    width: 20rem;
  }

  .slds-max-small-size_large {
    width: 25rem;
  }

  .slds-max-small-size_x-large {
    width: 40rem;
  }

  .slds-max-small-size_xx-large {
    width: 60rem;
  }

  .slds-max-small-size_1-of-1 {
    width: 100%;
  }

  .slds-max-small-size_1-of-2 {
    width: 50%;
  }

  .slds-max-small-size_2-of-2 {
    width: 100%;
  }

  .slds-max-small-size_1-of-3 {
    width: 33.333%;
  }

  .slds-max-small-size_2-of-3 {
    width: 66.6667%;
  }

  .slds-max-small-size_3-of-3 {
    width: 100%;
  }

  .slds-max-small-size_1-of-4 {
    width: 25%;
  }

  .slds-max-small-size_2-of-4 {
    width: 50%;
  }

  .slds-max-small-size_3-of-4 {
    width: 75%;
  }

  .slds-max-small-size_4-of-4 {
    width: 100%;
  }

  .slds-max-small-size_1-of-5 {
    width: 20%;
  }

  .slds-max-small-size_2-of-5 {
    width: 40%;
  }

  .slds-max-small-size_3-of-5 {
    width: 60%;
  }

  .slds-max-small-size_4-of-5 {
    width: 80%;
  }

  .slds-max-small-size_5-of-5 {
    width: 100%;
  }

  .slds-max-small-size_1-of-6 {
    width: 16.6667%;
  }

  .slds-max-small-size_2-of-6 {
    width: 33.333%;
  }

  .slds-max-small-size_3-of-6 {
    width: 50%;
  }

  .slds-max-small-size_4-of-6 {
    width: 66.6667%;
  }

  .slds-max-small-size_5-of-6 {
    width: 83.3333%;
  }

  .slds-max-small-size_6-of-6 {
    width: 100%;
  }

  .slds-max-small-size_1-of-7 {
    width: 14.2857%;
  }

  .slds-max-small-size_2-of-7 {
    width: 28.5714%;
  }

  .slds-max-small-size_3-of-7 {
    width: 42.8571%;
  }

  .slds-max-small-size_4-of-7 {
    width: 57.1429%;
  }

  .slds-max-small-size_5-of-7 {
    width: 71.4286%;
  }

  .slds-max-small-size_6-of-7 {
    width: 85.7143%;
  }

  .slds-max-small-size_7-of-7 {
    width: 100%;
  }

  .slds-max-small-size_1-of-8 {
    width: 12.5%;
  }

  .slds-max-small-size_2-of-8 {
    width: 25%;
  }

  .slds-max-small-size_3-of-8 {
    width: 37.5%;
  }

  .slds-max-small-size_4-of-8 {
    width: 50%;
  }

  .slds-max-small-size_5-of-8 {
    width: 62.5%;
  }

  .slds-max-small-size_6-of-8 {
    width: 75%;
  }

  .slds-max-small-size_7-of-8 {
    width: 87.5%;
  }

  .slds-max-small-size_8-of-8 {
    width: 100%;
  }

  .slds-max-small-size_1-of-12 {
    width: 8.3333%;
  }

  .slds-max-small-size_2-of-12 {
    width: 16.6667%;
  }

  .slds-max-small-size_3-of-12 {
    width: 25%;
  }

  .slds-max-small-size_4-of-12 {
    width: 33.333%;
  }

  .slds-max-small-size_5-of-12 {
    width: 41.6667%;
  }

  .slds-max-small-size_6-of-12 {
    width: 50%;
  }

  .slds-max-small-size_7-of-12 {
    width: 58.3333%;
  }

  .slds-max-small-size_8-of-12 {
    width: 66.6667%;
  }

  .slds-max-small-size_9-of-12 {
    width: 75%;
  }

  .slds-max-small-size_10-of-12 {
    width: 83.3333%;
  }

  .slds-max-small-size_11-of-12 {
    width: 91.6667%;
  }

  .slds-max-small-size_12-of-12 {
    width: 100%;
  }

  .slds-max-small-order_1 {
    order: 1;
  }

  .slds-max-small-order_2 {
    order: 2;
  }

  .slds-max-small-order_3 {
    order: 3;
  }

  .slds-max-small-order_4 {
    order: 4;
  }

  .slds-max-small-order_5 {
    order: 5;
  }

  .slds-max-small-order_6 {
    order: 6;
  }

  .slds-max-small-order_7 {
    order: 7;
  }

  .slds-max-small-order_8 {
    order: 8;
  }

  .slds-max-small-order_9 {
    order: 9;
  }

  .slds-max-small-order_10 {
    order: 10;
  }

  .slds-max-small-order_11 {
    order: 11;
  }

  .slds-max-small-order_12 {
    order: 12;
  }
}
@media (min-width: 48em) {
  .slds-medium-size_xxx-small,
  .slds-medium-size_xx-small,
  .slds-medium-size_x-small,
  .slds-medium-size_small,
  .slds-medium-size_medium,
  .slds-medium-size_large,
  .slds-medium-size_x-large,
  .slds-medium-size_xx-large,
  .slds-medium-size_1-of-1,
  .slds-medium-size_1-of-2,
  .slds-medium-size_2-of-2,
  .slds-medium-size_1-of-3,
  .slds-medium-size_2-of-3,
  .slds-medium-size_3-of-3,
  .slds-medium-size_1-of-4,
  .slds-medium-size_2-of-4,
  .slds-medium-size_3-of-4,
  .slds-medium-size_4-of-4,
  .slds-medium-size_1-of-5,
  .slds-medium-size_2-of-5,
  .slds-medium-size_3-of-5,
  .slds-medium-size_4-of-5,
  .slds-medium-size_5-of-5,
  .slds-medium-size_1-of-6,
  .slds-medium-size_2-of-6,
  .slds-medium-size_3-of-6,
  .slds-medium-size_4-of-6,
  .slds-medium-size_5-of-6,
  .slds-medium-size_6-of-6,
  .slds-medium-size_1-of-7,
  .slds-medium-size_2-of-7,
  .slds-medium-size_3-of-7,
  .slds-medium-size_4-of-7,
  .slds-medium-size_5-of-7,
  .slds-medium-size_6-of-7,
  .slds-medium-size_7-of-7,
  .slds-medium-size_1-of-8,
  .slds-medium-size_2-of-8,
  .slds-medium-size_3-of-8,
  .slds-medium-size_4-of-8,
  .slds-medium-size_5-of-8,
  .slds-medium-size_6-of-8,
  .slds-medium-size_7-of-8,
  .slds-medium-size_8-of-8,
  .slds-medium-size_1-of-12,
  .slds-medium-size_2-of-12,
  .slds-medium-size_3-of-12,
  .slds-medium-size_4-of-12,
  .slds-medium-size_5-of-12,
  .slds-medium-size_6-of-12,
  .slds-medium-size_7-of-12,
  .slds-medium-size_8-of-12,
  .slds-medium-size_9-of-12,
  .slds-medium-size_10-of-12,
  .slds-medium-size_11-of-12,
  .slds-medium-size_12-of-12 {
    flex: none;
  }

  .slds-medium-size_xxx-small {
    width: 3rem;
  }

  .slds-medium-size_xx-small {
    width: 6rem;
  }

  .slds-medium-size_x-small {
    width: 12rem;
  }

  .slds-medium-size_small {
    width: 15rem;
  }

  .slds-medium-size_medium {
    width: 20rem;
  }

  .slds-medium-size_large {
    width: 25rem;
  }

  .slds-medium-size_x-large {
    width: 40rem;
  }

  .slds-medium-size_xx-large {
    width: 60rem;
  }

  .slds-medium-size_1-of-1 {
    width: 100%;
  }

  .slds-medium-size_1-of-2 {
    width: 50%;
  }

  .slds-medium-size_2-of-2 {
    width: 100%;
  }

  .slds-medium-size_1-of-3 {
    width: 33.333%;
  }

  .slds-medium-size_2-of-3 {
    width: 66.6667%;
  }

  .slds-medium-size_3-of-3 {
    width: 100%;
  }

  .slds-medium-size_1-of-4 {
    width: 25%;
  }

  .slds-medium-size_2-of-4 {
    width: 50%;
  }

  .slds-medium-size_3-of-4 {
    width: 75%;
  }

  .slds-medium-size_4-of-4 {
    width: 100%;
  }

  .slds-medium-size_1-of-5 {
    width: 20%;
  }

  .slds-medium-size_2-of-5 {
    width: 40%;
  }

  .slds-medium-size_3-of-5 {
    width: 60%;
  }

  .slds-medium-size_4-of-5 {
    width: 80%;
  }

  .slds-medium-size_5-of-5 {
    width: 100%;
  }

  .slds-medium-size_1-of-6 {
    width: 16.6667%;
  }

  .slds-medium-size_2-of-6 {
    width: 33.333%;
  }

  .slds-medium-size_3-of-6 {
    width: 50%;
  }

  .slds-medium-size_4-of-6 {
    width: 66.6667%;
  }

  .slds-medium-size_5-of-6 {
    width: 83.3333%;
  }

  .slds-medium-size_6-of-6 {
    width: 100%;
  }

  .slds-medium-size_1-of-7 {
    width: 14.2857%;
  }

  .slds-medium-size_2-of-7 {
    width: 28.5714%;
  }

  .slds-medium-size_3-of-7 {
    width: 42.8571%;
  }

  .slds-medium-size_4-of-7 {
    width: 57.1429%;
  }

  .slds-medium-size_5-of-7 {
    width: 71.4286%;
  }

  .slds-medium-size_6-of-7 {
    width: 85.7143%;
  }

  .slds-medium-size_7-of-7 {
    width: 100%;
  }

  .slds-medium-size_1-of-8 {
    width: 12.5%;
  }

  .slds-medium-size_2-of-8 {
    width: 25%;
  }

  .slds-medium-size_3-of-8 {
    width: 37.5%;
  }

  .slds-medium-size_4-of-8 {
    width: 50%;
  }

  .slds-medium-size_5-of-8 {
    width: 62.5%;
  }

  .slds-medium-size_6-of-8 {
    width: 75%;
  }

  .slds-medium-size_7-of-8 {
    width: 87.5%;
  }

  .slds-medium-size_8-of-8 {
    width: 100%;
  }

  .slds-medium-size_1-of-12 {
    width: 8.3333%;
  }

  .slds-medium-size_2-of-12 {
    width: 16.6667%;
  }

  .slds-medium-size_3-of-12 {
    width: 25%;
  }

  .slds-medium-size_4-of-12 {
    width: 33.333%;
  }

  .slds-medium-size_5-of-12 {
    width: 41.6667%;
  }

  .slds-medium-size_6-of-12 {
    width: 50%;
  }

  .slds-medium-size_7-of-12 {
    width: 58.3333%;
  }

  .slds-medium-size_8-of-12 {
    width: 66.6667%;
  }

  .slds-medium-size_9-of-12 {
    width: 75%;
  }

  .slds-medium-size_10-of-12 {
    width: 83.3333%;
  }

  .slds-medium-size_11-of-12 {
    width: 91.6667%;
  }

  .slds-medium-size_12-of-12 {
    width: 100%;
  }

  .slds-medium-order_1 {
    order: 1;
  }

  .slds-medium-order_2 {
    order: 2;
  }

  .slds-medium-order_3 {
    order: 3;
  }

  .slds-medium-order_4 {
    order: 4;
  }

  .slds-medium-order_5 {
    order: 5;
  }

  .slds-medium-order_6 {
    order: 6;
  }

  .slds-medium-order_7 {
    order: 7;
  }

  .slds-medium-order_8 {
    order: 8;
  }

  .slds-medium-order_9 {
    order: 9;
  }

  .slds-medium-order_10 {
    order: 10;
  }

  .slds-medium-order_11 {
    order: 11;
  }

  .slds-medium-order_12 {
    order: 12;
  }
}
@media (max-width: 48em) {
  .slds-max-medium-size_xxx-small,
  .slds-max-medium-size_xx-small,
  .slds-max-medium-size_x-small,
  .slds-max-medium-size_small,
  .slds-max-medium-size_medium,
  .slds-max-medium-size_large,
  .slds-max-medium-size_x-large,
  .slds-max-medium-size_xx-large {
    flex: none;
  }

  .slds-max-medium-size_xxx-small {
    width: 3rem;
  }

  .slds-max-medium-size_xx-small {
    width: 6rem;
  }

  .slds-max-medium-size_x-small {
    width: 12rem;
  }

  .slds-max-medium-size_small {
    width: 15rem;
  }

  .slds-max-medium-size_medium {
    width: 20rem;
  }

  .slds-max-medium-size_large {
    width: 25rem;
  }

  .slds-max-medium-size_x-large {
    width: 40rem;
  }

  .slds-max-medium-size_xx-large {
    width: 60rem;
  }

  .slds-max-medium-size_1-of-1 {
    width: 100%;
  }

  .slds-max-medium-size_1-of-2 {
    width: 50%;
  }

  .slds-max-medium-size_2-of-2 {
    width: 100%;
  }

  .slds-max-medium-size_1-of-3 {
    width: 33.333%;
  }

  .slds-max-medium-size_2-of-3 {
    width: 66.6667%;
  }

  .slds-max-medium-size_3-of-3 {
    width: 100%;
  }

  .slds-max-medium-size_1-of-4 {
    width: 25%;
  }

  .slds-max-medium-size_2-of-4 {
    width: 50%;
  }

  .slds-max-medium-size_3-of-4 {
    width: 75%;
  }

  .slds-max-medium-size_4-of-4 {
    width: 100%;
  }

  .slds-max-medium-size_1-of-5 {
    width: 20%;
  }

  .slds-max-medium-size_2-of-5 {
    width: 40%;
  }

  .slds-max-medium-size_3-of-5 {
    width: 60%;
  }

  .slds-max-medium-size_4-of-5 {
    width: 80%;
  }

  .slds-max-medium-size_5-of-5 {
    width: 100%;
  }

  .slds-max-medium-size_1-of-6 {
    width: 16.6667%;
  }

  .slds-max-medium-size_2-of-6 {
    width: 33.333%;
  }

  .slds-max-medium-size_3-of-6 {
    width: 50%;
  }

  .slds-max-medium-size_4-of-6 {
    width: 66.6667%;
  }

  .slds-max-medium-size_5-of-6 {
    width: 83.3333%;
  }

  .slds-max-medium-size_6-of-6 {
    width: 100%;
  }

  .slds-max-medium-size_1-of-7 {
    width: 14.2857%;
  }

  .slds-max-medium-size_2-of-7 {
    width: 28.5714%;
  }

  .slds-max-medium-size_3-of-7 {
    width: 42.8571%;
  }

  .slds-max-medium-size_4-of-7 {
    width: 57.1429%;
  }

  .slds-max-medium-size_5-of-7 {
    width: 71.4286%;
  }

  .slds-max-medium-size_6-of-7 {
    width: 85.7143%;
  }

  .slds-max-medium-size_7-of-7 {
    width: 100%;
  }

  .slds-max-medium-size_1-of-8 {
    width: 12.5%;
  }

  .slds-max-medium-size_2-of-8 {
    width: 25%;
  }

  .slds-max-medium-size_3-of-8 {
    width: 37.5%;
  }

  .slds-max-medium-size_4-of-8 {
    width: 50%;
  }

  .slds-max-medium-size_5-of-8 {
    width: 62.5%;
  }

  .slds-max-medium-size_6-of-8 {
    width: 75%;
  }

  .slds-max-medium-size_7-of-8 {
    width: 87.5%;
  }

  .slds-max-medium-size_8-of-8 {
    width: 100%;
  }

  .slds-max-medium-size_1-of-12 {
    width: 8.3333%;
  }

  .slds-max-medium-size_2-of-12 {
    width: 16.6667%;
  }

  .slds-max-medium-size_3-of-12 {
    width: 25%;
  }

  .slds-max-medium-size_4-of-12 {
    width: 33.333%;
  }

  .slds-max-medium-size_5-of-12 {
    width: 41.6667%;
  }

  .slds-max-medium-size_6-of-12 {
    width: 50%;
  }

  .slds-max-medium-size_7-of-12 {
    width: 58.3333%;
  }

  .slds-max-medium-size_8-of-12 {
    width: 66.6667%;
  }

  .slds-max-medium-size_9-of-12 {
    width: 75%;
  }

  .slds-max-medium-size_10-of-12 {
    width: 83.3333%;
  }

  .slds-max-medium-size_11-of-12 {
    width: 91.6667%;
  }

  .slds-max-medium-size_12-of-12 {
    width: 100%;
  }

  .slds-max-medium-order_1 {
    order: 1;
  }

  .slds-max-medium-order_2 {
    order: 2;
  }

  .slds-max-medium-order_3 {
    order: 3;
  }

  .slds-max-medium-order_4 {
    order: 4;
  }

  .slds-max-medium-order_5 {
    order: 5;
  }

  .slds-max-medium-order_6 {
    order: 6;
  }

  .slds-max-medium-order_7 {
    order: 7;
  }

  .slds-max-medium-order_8 {
    order: 8;
  }

  .slds-max-medium-order_9 {
    order: 9;
  }

  .slds-max-medium-order_10 {
    order: 10;
  }

  .slds-max-medium-order_11 {
    order: 11;
  }

  .slds-max-medium-order_12 {
    order: 12;
  }
}
@media (min-width: 64em) {
  .slds-large-size_xxx-small,
  .slds-large-size_xx-small,
  .slds-large-size_x-small,
  .slds-large-size_small,
  .slds-large-size_medium,
  .slds-large-size_large,
  .slds-large-size_x-large,
  .slds-large-size_xx-large,
  .slds-large-size_1-of-1,
  .slds-large-size_1-of-2,
  .slds-large-size_2-of-2,
  .slds-large-size_1-of-3,
  .slds-large-size_2-of-3,
  .slds-large-size_3-of-3,
  .slds-large-size_1-of-4,
  .slds-large-size_2-of-4,
  .slds-large-size_3-of-4,
  .slds-large-size_4-of-4,
  .slds-large-size_1-of-5,
  .slds-large-size_2-of-5,
  .slds-large-size_3-of-5,
  .slds-large-size_4-of-5,
  .slds-large-size_5-of-5,
  .slds-large-size_1-of-6,
  .slds-large-size_2-of-6,
  .slds-large-size_3-of-6,
  .slds-large-size_4-of-6,
  .slds-large-size_5-of-6,
  .slds-large-size_6-of-6,
  .slds-large-size_1-of-7,
  .slds-large-size_2-of-7,
  .slds-large-size_3-of-7,
  .slds-large-size_4-of-7,
  .slds-large-size_5-of-7,
  .slds-large-size_6-of-7,
  .slds-large-size_7-of-7,
  .slds-large-size_1-of-8,
  .slds-large-size_2-of-8,
  .slds-large-size_3-of-8,
  .slds-large-size_4-of-8,
  .slds-large-size_5-of-8,
  .slds-large-size_6-of-8,
  .slds-large-size_7-of-8,
  .slds-large-size_8-of-8,
  .slds-large-size_1-of-12,
  .slds-large-size_2-of-12,
  .slds-large-size_3-of-12,
  .slds-large-size_4-of-12,
  .slds-large-size_5-of-12,
  .slds-large-size_6-of-12,
  .slds-large-size_7-of-12,
  .slds-large-size_8-of-12,
  .slds-large-size_9-of-12,
  .slds-large-size_10-of-12,
  .slds-large-size_11-of-12,
  .slds-large-size_12-of-12 {
    flex: none;
  }

  .slds-large-size_xxx-small {
    width: 3rem;
  }

  .slds-large-size_xx-small {
    width: 6rem;
  }

  .slds-large-size_x-small {
    width: 12rem;
  }

  .slds-large-size_small {
    width: 15rem;
  }

  .slds-large-size_medium {
    width: 20rem;
  }

  .slds-large-size_large {
    width: 25rem;
  }

  .slds-large-size_x-large {
    width: 40rem;
  }

  .slds-large-size_xx-large {
    width: 60rem;
  }

  .slds-large-size_1-of-1 {
    width: 100%;
  }

  .slds-large-size_1-of-2 {
    width: 50%;
  }

  .slds-large-size_2-of-2 {
    width: 100%;
  }

  .slds-large-size_1-of-3 {
    width: 33.333%;
  }

  .slds-large-size_2-of-3 {
    width: 66.6667%;
  }

  .slds-large-size_3-of-3 {
    width: 100%;
  }

  .slds-large-size_1-of-4 {
    width: 25%;
  }

  .slds-large-size_2-of-4 {
    width: 50%;
  }

  .slds-large-size_3-of-4 {
    width: 75%;
  }

  .slds-large-size_4-of-4 {
    width: 100%;
  }

  .slds-large-size_1-of-5 {
    width: 20%;
  }

  .slds-large-size_2-of-5 {
    width: 40%;
  }

  .slds-large-size_3-of-5 {
    width: 60%;
  }

  .slds-large-size_4-of-5 {
    width: 80%;
  }

  .slds-large-size_5-of-5 {
    width: 100%;
  }

  .slds-large-size_1-of-6 {
    width: 16.6667%;
  }

  .slds-large-size_2-of-6 {
    width: 33.333%;
  }

  .slds-large-size_3-of-6 {
    width: 50%;
  }

  .slds-large-size_4-of-6 {
    width: 66.6667%;
  }

  .slds-large-size_5-of-6 {
    width: 83.3333%;
  }

  .slds-large-size_6-of-6 {
    width: 100%;
  }

  .slds-large-size_1-of-7 {
    width: 14.2857%;
  }

  .slds-large-size_2-of-7 {
    width: 28.5714%;
  }

  .slds-large-size_3-of-7 {
    width: 42.8571%;
  }

  .slds-large-size_4-of-7 {
    width: 57.1429%;
  }

  .slds-large-size_5-of-7 {
    width: 71.4286%;
  }

  .slds-large-size_6-of-7 {
    width: 85.7143%;
  }

  .slds-large-size_7-of-7 {
    width: 100%;
  }

  .slds-large-size_1-of-8 {
    width: 12.5%;
  }

  .slds-large-size_2-of-8 {
    width: 25%;
  }

  .slds-large-size_3-of-8 {
    width: 37.5%;
  }

  .slds-large-size_4-of-8 {
    width: 50%;
  }

  .slds-large-size_5-of-8 {
    width: 62.5%;
  }

  .slds-large-size_6-of-8 {
    width: 75%;
  }

  .slds-large-size_7-of-8 {
    width: 87.5%;
  }

  .slds-large-size_8-of-8 {
    width: 100%;
  }

  .slds-large-size_1-of-12 {
    width: 8.3333%;
  }

  .slds-large-size_2-of-12 {
    width: 16.6667%;
  }

  .slds-large-size_3-of-12 {
    width: 25%;
  }

  .slds-large-size_4-of-12 {
    width: 33.333%;
  }

  .slds-large-size_5-of-12 {
    width: 41.6667%;
  }

  .slds-large-size_6-of-12 {
    width: 50%;
  }

  .slds-large-size_7-of-12 {
    width: 58.3333%;
  }

  .slds-large-size_8-of-12 {
    width: 66.6667%;
  }

  .slds-large-size_9-of-12 {
    width: 75%;
  }

  .slds-large-size_10-of-12 {
    width: 83.3333%;
  }

  .slds-large-size_11-of-12 {
    width: 91.6667%;
  }

  .slds-large-size_12-of-12 {
    width: 100%;
  }

  .slds-large-order_1 {
    order: 1;
  }

  .slds-large-order_2 {
    order: 2;
  }

  .slds-large-order_3 {
    order: 3;
  }

  .slds-large-order_4 {
    order: 4;
  }

  .slds-large-order_5 {
    order: 5;
  }

  .slds-large-order_6 {
    order: 6;
  }

  .slds-large-order_7 {
    order: 7;
  }

  .slds-large-order_8 {
    order: 8;
  }

  .slds-large-order_9 {
    order: 9;
  }

  .slds-large-order_10 {
    order: 10;
  }

  .slds-large-order_11 {
    order: 11;
  }

  .slds-large-order_12 {
    order: 12;
  }
}
@media (max-width: 64em) {
  .slds-max-large-size_xxx-small,
  .slds-max-large-size_xx-small,
  .slds-max-large-size_x-small,
  .slds-max-large-size_small,
  .slds-max-large-size_medium,
  .slds-max-large-size_large,
  .slds-max-large-size_x-large,
  .slds-max-large-size_xx-large {
    flex: none;
  }

  .slds-max-large-size_xxx-small {
    width: 3rem;
  }

  .slds-max-large-size_xx-small {
    width: 6rem;
  }

  .slds-max-large-size_x-small {
    width: 12rem;
  }

  .slds-max-large-size_small {
    width: 15rem;
  }

  .slds-max-large-size_medium {
    width: 20rem;
  }

  .slds-max-large-size_large {
    width: 25rem;
  }

  .slds-max-large-size_x-large {
    width: 40rem;
  }

  .slds-max-large-size_xx-large {
    width: 60rem;
  }

  .slds-max-large-size_1-of-1 {
    width: 100%;
  }

  .slds-max-large-size_1-of-2 {
    width: 50%;
  }

  .slds-max-large-size_2-of-2 {
    width: 100%;
  }

  .slds-max-large-size_1-of-3 {
    width: 33.333%;
  }

  .slds-max-large-size_2-of-3 {
    width: 66.6667%;
  }

  .slds-max-large-size_3-of-3 {
    width: 100%;
  }

  .slds-max-large-size_1-of-4 {
    width: 25%;
  }

  .slds-max-large-size_2-of-4 {
    width: 50%;
  }

  .slds-max-large-size_3-of-4 {
    width: 75%;
  }

  .slds-max-large-size_4-of-4 {
    width: 100%;
  }

  .slds-max-large-size_1-of-5 {
    width: 20%;
  }

  .slds-max-large-size_2-of-5 {
    width: 40%;
  }

  .slds-max-large-size_3-of-5 {
    width: 60%;
  }

  .slds-max-large-size_4-of-5 {
    width: 80%;
  }

  .slds-max-large-size_5-of-5 {
    width: 100%;
  }

  .slds-max-large-size_1-of-6 {
    width: 16.6667%;
  }

  .slds-max-large-size_2-of-6 {
    width: 33.333%;
  }

  .slds-max-large-size_3-of-6 {
    width: 50%;
  }

  .slds-max-large-size_4-of-6 {
    width: 66.6667%;
  }

  .slds-max-large-size_5-of-6 {
    width: 83.3333%;
  }

  .slds-max-large-size_6-of-6 {
    width: 100%;
  }

  .slds-max-large-size_1-of-7 {
    width: 14.2857%;
  }

  .slds-max-large-size_2-of-7 {
    width: 28.5714%;
  }

  .slds-max-large-size_3-of-7 {
    width: 42.8571%;
  }

  .slds-max-large-size_4-of-7 {
    width: 57.1429%;
  }

  .slds-max-large-size_5-of-7 {
    width: 71.4286%;
  }

  .slds-max-large-size_6-of-7 {
    width: 85.7143%;
  }

  .slds-max-large-size_7-of-7 {
    width: 100%;
  }

  .slds-max-large-size_1-of-8 {
    width: 12.5%;
  }

  .slds-max-large-size_2-of-8 {
    width: 25%;
  }

  .slds-max-large-size_3-of-8 {
    width: 37.5%;
  }

  .slds-max-large-size_4-of-8 {
    width: 50%;
  }

  .slds-max-large-size_5-of-8 {
    width: 62.5%;
  }

  .slds-max-large-size_6-of-8 {
    width: 75%;
  }

  .slds-max-large-size_7-of-8 {
    width: 87.5%;
  }

  .slds-max-large-size_8-of-8 {
    width: 100%;
  }

  .slds-max-large-size_1-of-12 {
    width: 8.3333%;
  }

  .slds-max-large-size_2-of-12 {
    width: 16.6667%;
  }

  .slds-max-large-size_3-of-12 {
    width: 25%;
  }

  .slds-max-large-size_4-of-12 {
    width: 33.333%;
  }

  .slds-max-large-size_5-of-12 {
    width: 41.6667%;
  }

  .slds-max-large-size_6-of-12 {
    width: 50%;
  }

  .slds-max-large-size_7-of-12 {
    width: 58.3333%;
  }

  .slds-max-large-size_8-of-12 {
    width: 66.6667%;
  }

  .slds-max-large-size_9-of-12 {
    width: 75%;
  }

  .slds-max-large-size_10-of-12 {
    width: 83.3333%;
  }

  .slds-max-large-size_11-of-12 {
    width: 91.6667%;
  }

  .slds-max-large-size_12-of-12 {
    width: 100%;
  }

  .slds-max-large-order_1 {
    order: 1;
  }

  .slds-max-large-order_2 {
    order: 2;
  }

  .slds-max-large-order_3 {
    order: 3;
  }

  .slds-max-large-order_4 {
    order: 4;
  }

  .slds-max-large-order_5 {
    order: 5;
  }

  .slds-max-large-order_6 {
    order: 6;
  }

  .slds-max-large-order_7 {
    order: 7;
  }

  .slds-max-large-order_8 {
    order: 8;
  }

  .slds-max-large-order_9 {
    order: 9;
  }

  .slds-max-large-order_10 {
    order: 10;
  }

  .slds-max-large-order_11 {
    order: 11;
  }

  .slds-max-large-order_12 {
    order: 12;
  }
}
.slds-size_xxx-small,
.slds-size_xx-small,
.slds-size_x-small,
.slds-size_small,
.slds-size_medium,
.slds-size_large,
.slds-size_x-large,
.slds-size_xx-large,
.slds-size_1-of-1,
.slds-size_1-of-2,
.slds-size_2-of-2,
.slds-size_1-of-3,
.slds-size_2-of-3,
.slds-size_3-of-3,
.slds-size_1-of-4,
.slds-size_2-of-4,
.slds-size_3-of-4,
.slds-size_4-of-4,
.slds-size_1-of-5,
.slds-size_2-of-5,
.slds-size_3-of-5,
.slds-size_4-of-5,
.slds-size_5-of-5,
.slds-size_1-of-6,
.slds-size_2-of-6,
.slds-size_3-of-6,
.slds-size_4-of-6,
.slds-size_5-of-6,
.slds-size_6-of-6,
.slds-size_1-of-7,
.slds-size_2-of-7,
.slds-size_3-of-7,
.slds-size_4-of-7,
.slds-size_5-of-7,
.slds-size_6-of-7,
.slds-size_7-of-7,
.slds-size_1-of-8,
.slds-size_2-of-8,
.slds-size_3-of-8,
.slds-size_4-of-8,
.slds-size_5-of-8,
.slds-size_6-of-8,
.slds-size_7-of-8,
.slds-size_8-of-8,
.slds-size_1-of-12,
.slds-size_2-of-12,
.slds-size_3-of-12,
.slds-size_4-of-12,
.slds-size_5-of-12,
.slds-size_6-of-12,
.slds-size_7-of-12,
.slds-size_8-of-12,
.slds-size_9-of-12,
.slds-size_10-of-12,
.slds-size_11-of-12,
.slds-size_12-of-12 {
  flex: none;
}
