.slds-list_vertical.slds-has-dividers > .slds-list__item {
  padding: var(--slds-g-spacing-2);
  border-block-end: 1px solid var(--slds-g-color-border-1);
}
.slds-list_vertical.slds-has-dividers > .slds-list__item:hover {
  background-color: var(--slds-g-color-surface-container-2);
  border-color: var(--slds-g-color-border-1);
  cursor: pointer;
}
.slds-list_vertical.slds-has-dividers > .slds-list__item:active {
  background-color: var(--slds-g-color-surface-container-2);
  box-shadow: var(--slds-g-color-border-1) 0 -1px 0 inset;
}
.slds-list_vertical.slds-has-dividers > .slds-list__item.slds-is-selected {
  box-shadow: var(--slds-g-color-accent-2) 0 0 0 1px inset;
  background-color: var(--slds-g-color-surface-container-2);
}
.slds-list_vertical.slds-has-dividers > .slds-list__item.slds-is-selected:hover,
.slds-list_vertical.slds-has-dividers > .slds-list__item.slds-is-selected:focus {
  box-shadow: var(--slds-g-color-accent-1) 0 -2px 0 inset, var(--slds-g-color-accent-1) 0 0 0 1px inset;
}

.slds-has-cards > .slds-list__item {
  border: 1px solid var(--slds-g-color-border-1);
  border-radius: var(--slds-g-radius-border-2);
  background-clip: padding-box;
}
.slds-has-cards > .slds-list__item + .slds-list__item {
  margin-block-start: var(--slds-g-spacing-2);
}

.slds-has-cards_space > .slds-list__item {
  border: 1px solid var(--slds-g-color-border-1);
  border-radius: var(--slds-g-radius-border-2);
  background-clip: padding-box;
  padding: var(--slds-g-spacing-3);
}
@media (min-width: 30em) {
  .slds-has-cards_space > .slds-list__item {
    padding: var(--slds-g-spacing-2);
  }
}
.slds-has-cards_space > .slds-list__item + .slds-list__item {
  margin-block-start: var(--slds-g-spacing-2);
}

.slds-has-divider {
  margin-block-start: var(--slds-g-spacing-2);
  padding-block-start: var(--slds-g-spacing-2);
  border-block-start: 1px solid var(--slds-g-color-border-1);
}

.slds-has-block-links a {
  display: block;
  text-decoration: none;
}
.slds-has-block-links .slds-is-nested {
  margin-inline-start: var(--slds-g-spacing-4);
}

.slds-has-block-links_space .slds-list__item,
.slds-has-block-links_space .slds-item {
  padding: 0;
}
.slds-has-block-links_space a {
  display: block;
  text-decoration: none;
  padding: var(--slds-g-spacing-3);
}
@media (min-width: 48em) {
  .slds-has-block-links_space a {
    padding: var(--slds-g-spacing-2);
  }
}

.slds-has-inline-block-links a {
  display: inline-block;
  text-decoration: none;
}

.slds-has-inline-block-links_space a {
  display: inline-block;
  text-decoration: none;
  padding: var(--slds-g-spacing-3);
}
@media (min-width: 48em) {
  .slds-has-inline-block-links_space a {
    padding: var(--slds-g-spacing-2);
  }
}
.slds-list_vertical-space .slds-list__item + .slds-list__item,
.slds-list_vertical-space .slds-item + .slds-item {
  margin-block-start: var(--slds-g-spacing-2);
}
.slds-list_vertical-space-medium .slds-list__item + .slds-list__item,
.slds-list_vertical-space-medium .slds-item + .slds-item {
  margin-block-start: var(--slds-g-spacing-4);
}
.slds-is-nested {
  margin-inline-start: var(--slds-g-spacing-4);
}
.slds-list_dotted {
  margin-inline-start: var(--slds-g-spacing-5);
  list-style: disc;
}
.slds-list_ordered {
  margin-inline-start: var(--slds-g-spacing-5);
  list-style: decimal;
}

.slds-has-dividers_top > .slds-list__item,
.slds-has-dividers_top > .slds-item {
  border-block-start: 1px solid var(--slds-g-color-border-1);
}
.slds-has-dividers_top-space > .slds-list__item,
.slds-has-dividers_top-space > .slds-item {
  border-block-start: 1px solid var(--slds-g-color-border-1);
  padding: var(--slds-g-spacing-3);
}
@media (min-width: 30em) {
  .slds-has-dividers_top-space > .slds-list__item,
  .slds-has-dividers_top-space > .slds-item {
    padding: var(--slds-g-spacing-2);
  }
}

.slds-has-dividers_bottom > .slds-list__item,
.slds-has-dividers_bottom > .slds-item {
  border-block-end: 1px solid var(--slds-g-color-border-1);
}
.slds-has-dividers_bottom-space > .slds-list__item,
.slds-has-dividers_bottom-space > .slds-item {
  border-block-end: 1px solid var(--slds-g-color-border-1);
  padding: var(--slds-g-spacing-3);
}
@media (min-width: 30em) {
  .slds-has-dividers_bottom-space > .slds-list__item,
  .slds-has-dividers_bottom-space > .slds-item {
    padding: var(--slds-g-spacing-2);
  }
}

.slds-has-dividers_around > .slds-item {
  border: 1px solid var(--slds-g-color-border-1);
  border-radius: var(--slds-g-radius-border-2);
  background-clip: padding-box;
}
.slds-has-dividers_around > .slds-item + .slds-item {
  margin-block-start: var(--slds-g-spacing-2);
}
.slds-has-dividers_around-space > .slds-item {
  border: 1px solid var(--slds-g-color-border-1);
  border-radius: var(--slds-g-radius-border-2);
  background-clip: padding-box;
  padding: var(--slds-g-spacing-3);
}
@media (min-width: 30em) {
  .slds-has-dividers_around-space > .slds-item {
    padding: var(--slds-g-spacing-2);
  }
}
.slds-has-dividers_around-space > .slds-item + .slds-item {
  margin-block-start: var(--slds-g-spacing-2);
}

.slds-has-list-interactions > .slds-list__item:hover,
.slds-has-list-interactions > .slds-item:hover {
  background-color: var(--slds-g-color-surface-container-2);
  border-color: var(--slds-g-color-border-1);
  cursor: pointer;
}
.slds-has-list-interactions > .slds-list__item:active,
.slds-has-list-interactions > .slds-item:active {
  background-color: var(--slds-g-color-surface-container-2);
  box-shadow: var(--slds-g-color-border-1) 0 -1px 0 inset;
}
.slds-has-list-interactions > .slds-list__item.slds-is-selected,
.slds-has-list-interactions > .slds-item.slds-is-selected {
  box-shadow: var(--slds-g-color-accent-2) 0 0 0 1px inset;
  background-color: var(--slds-g-color-surface-container-2);
}
.slds-has-list-interactions > .slds-list__item.slds-is-selected:hover,
.slds-has-list-interactions > .slds-list__item.slds-is-selected:focus,
.slds-has-list-interactions > .slds-item.slds-is-selected:hover,
.slds-has-list-interactions > .slds-item.slds-is-selected:focus {
  box-shadow: var(--slds-g-color-accent-1) 0 -2px 0 inset, var(--slds-g-color-accent-1) 0 0 0 1px inset;
}
.slds-has-divider_top {
  border-block-start: 1px solid var(--slds-g-color-border-1);
}
.slds-has-divider_top-space {
  border-block-start: 1px solid var(--slds-g-color-border-1);
  margin-block-start: var(--slds-g-spacing-2);
  padding-block-start: var(--slds-g-spacing-2);
}
.slds-has-divider_right {
  position: relative;
  display: flex;
  align-items: center;
}
.slds-has-divider_right::after {
  height: 2px;
  content: '';
  margin-inline-start: var(--slds-g-spacing-2);
  margin-inline-end: var(--slds-g-spacing-2);
  border-radius: 50%;
  background-color: currentColor;
}
.slds-has-divider_right:last-child {
  margin-inline-end: 0;
  padding-inline-end: 0;
}
.slds-has-divider_right:last-child::after {
  content: none;
}
.slds-has-divider_bottom {
  border-block-end: 1px solid var(--slds-g-color-border-1);
}
.slds-has-divider_bottom-space {
  border-block-end: 1px solid var(--slds-g-color-border-1);
  margin-block-end: var(--slds-g-spacing-2);
  padding-block-end: var(--slds-g-spacing-2);
}
.slds-has-divider_left {
  position: relative;
  display: flex;
  align-items: center;
}
.slds-has-divider_left::before {
  width: 2px;
  height: 2px;
  content: '';
  display: inline-block;
  vertical-align: middle;
  margin-inline-start: var(--slds-g-spacing-2);
  margin-inline-end: var(--slds-g-spacing-2);
  border-radius: 50%;
  background-color: currentColor;
}
.slds-has-divider_left:first-child {
  margin-inline-end: 0;
  padding-inline-end: 0;
}
.slds-has-divider_left:first-child::before {
  content: none;
}
